<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Indigo</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <style>
	body {
		color: #444;
	}
	</style>
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Indigo</h1>
        <p></p>


        <p class="view">
        	<a href="mailto:help@indigodb.com">help@indigodb.com</a><br>
        	Twitter <a href="https://twitter.com/IndigoDB">@IndigoDB</a>
        </p>

        <p>
		{% for p in site.pages %}
			{% if p.url != page.url %}<a href="{{ p.url }}">{% endif %}{{ p.title }}{% if p.url != page.url %}</a>{% endif %}<br>
		{% endfor %}
		</p>

      </header>
      <section>
		{{ content }}
      </section>
      <footer>
        <p><small></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>